@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Mulish:wght@200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

.error-page {
  height: 100vh;
  display: flex;
}

.errorPage-img {
  display: block;
  width: 50vw;
  margin: 15vh auto;
}

.error-title-wrapper {
  display: block;
  height: fit-content;
  width: fit-content;
  margin: 40vh auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.error-title-wrapper h2 {
  font-size: calc(18px + 0.5vw);
  font-weight: 600;
  color: #6b797c;
}

button {
  background-color: #940000;
}

button:focus {
  border-color: white;
  box-shadow: none;
}

input {
  transition: all ease 0.3s;
}

input:focus,
input:hover {
  background-color: none;
  border: #a9c2c7 1px solid !important;

  box-shadow: none;
}

section {
  height: 100vh;
  min-height: 40vw;
}

.tsparticles-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  filter: blur(0.5px);
}

.grid-container {
  margin: auto;
  /* margin-top: 10vh; */
  width: 70%;
  max-width: 1000px;
}

.gallery-modal-photo {
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
  z-index: 12;
}

.gallery-modal {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(14, 14, 14, 0.836);
  z-index: 10;
}

.modal_arrow {
  margin: 0 60px;
  display: flex;
  width: 30px;
  padding: 3px;
  height: 50px;
  align-self: center;
  transition: all ease 0.3s;
  cursor: pointer;
}

.modal_arrow:hover {
  transform: scale(1.2);
}

.modal-close {
  position: absolute;
  /* width: 1.5vw; */
  /* height: 1.5vw; */
  font-size: 3vw;
  line-height: 1em;
  /* float: right; */
  right: 0;
  margin: 0 2vw;
  color: white;
  z-index: 10;
  transition: all ease 0.3s;
  cursor: pointer;
}

.modal-close:hover {
  transform: scale(1.1);
}

.displayed-img {
  margin: auto;
  display: block;
  width: 60vw;
}

.photo-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
  padding: 0 40px 40px 40px;
  /* margin: 0; */
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

.photo-grid li {
  width: 300px;
  height: 300px;
  flex-grow: 2;
}

.photo-result {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  background-size: cover;
  cursor: pointer;
}

.weather {
  margin: 60px 0;
}

.weather h4 {
  margin: 50px 0;
}

.weather-icon {
  width: 50px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 50px 0;
  justify-content: space-around;
}

.forecast-list p {
  font-size: 10px;
}

.map-title {
  height: fit-content;
  margin: auto 0 0;
  grid-row: 2;
  font-weight: 600;
  grid-column: 2;
}

.destination-page {
  display: grid;
}

.resort-page {
  display: grid;
}

.photo-view {
  height: 100vh;
  overflow: hidden;
}

.destination-bio {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 30% repeat(1, minmax(700px, 1fr)) 1fr;
  grid-template-rows: 20% 10% 25% 10% 1fr;
}

.destination-bio p {
  grid-column: 2;
  width: 80%;
  margin: 30px 0 auto;
  grid-row: 3;
  font-size: calc(10px + 0.3vw);
}

.destination-bio a {
  grid-column: 2;
  width: fit-content;
  height: fit-content;
  /* margin: 0 auto; */
  grid-row: 4;
  color: #940000;
  transition: all ease 0.3s;
  z-index: 3;
}

.destination-bio a:hover {
  padding-left: 20px;
}

#rusutsu {
  top: 113px;
  left: 437px;
}
#niseko {
  top: 100px;
  left: 480px;
}
#shiga_kogen {
  top: 359px;
  left: 388px;
}
#hakuba_valley {
  top: 408px;
  left: 337px;
}

.island-description {
  grid-row: 6;
  height: 40px;
  margin: auto;
  grid-column: 4;
  width: fit-content;
}

.map-buttons {
  grid-column: 3;
  grid-row: span 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr 20%;
}

.map-point {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffffff3d;
  border-radius: 50px;
  border: #ececec solid 2px;
  cursor: pointer;
  box-shadow: 3px 4px 7px 0px rgba (0, 0, 0, 0.096);
  padding: 0;
  left: calc(10vw);
  top: 45ch;
  transition: all ease 0.3s; /* background: transparent; */
  margin: 10px;
}

.map-point::before {
  display: block;
  /* position: absolute; */
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  margin: auto;
  box-shadow: 3px 4px 7px 0px rgba (0, 0, 0, 0.096);
}

.map-point:hover {
  transform: scale(1.1);
}

.map-point:focus {
  border-color: #ffffff;
  background-color: rgba(214, 214, 214, 0.603);
  box-shadow: none;
}

.map-btn-wrapper {
  grid-row: 2;
  grid-column: 1;
  display: block;
  margin: auto;
  position: relative;
  height: 100%;
  min-width: 700px;
}

.map-btn-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.map-img {
  grid-row: 2;
  display: block;
  /* margin: auto; */
  grid-column: 1;
}

.map-img img {
  margin: auto;
  display: block;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 80px;
  justify-content: flex-end;
  display: flex;
  /* background-color: rgb(37, 37, 37); */
  top: 0;
  z-index: 10;
}

nav ul {
  line-height: 60px;
}

#logo {
  margin: auto;
  margin-left: 5vw;
  width: 160px;
  transition: all ease 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

#logo a {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 30vw;
}

.nav-links li {
  color: #202020;
  transition: all ease 0.2s;
  font-weight: 400;
  margin: auto;
}

.nav-links a {
  display: flex;
}

.nav-links li:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

.form {
  margin: 20vh auto;
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
}
.form-small {
  margin: 20px auto;
}

form button {
  width: 100%;
}

input {
  margin: 30px 0;
}

.review-toggle-button {
  margin: 30px auto 0;
  display: flex;
}

.homePage-hero {
  background-image: url("/images/hero_test_back_reupload.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 2fr;
  grid-template-columns: 23% 1fr 23%;
  background-position: center;
}

.hero-overlay {
  background-image: url("/images/hero_test_front_4.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-position: center;
  grid-column: span 3;
}

.react-parallax-bgimage {
  z-index: 3;
  width: 100vw !important;
  height: auto !important;
  transition: transform ease-out 0.3s;
  top: calc(30vw / 2);
}

.homePage-hero-title {
  margin: 0;
  color: #202020;
  margin-top: 9vh;
  /* grid-row: 2;
  grid-column: 2; */
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.34);
  display: inline-block;
  /* top: 20%;
  position: absolute;
  left: 0;
  right: 0; */
}

.homePage-hero-subtitle {
  margin: 0 0 0 20%;
  color: #940000;
  /* grid-row: 3;
  grid-column: 2; */
  font-size: calc(16px + 1vw);
  font-weight: 600;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.192);
  display: inline-block;
  height: fit-content;
}

.homePage-map {
  height: 100vh;
  width: 100%;
  /* display: grid;
  grid-template-rows: 200px 1fr; */
  background-image: url("/images/japan_background.svg");
  background-color: #fffffd;
  background-position: top;
  background-repeat: no-repeat;
}
.homePage-map ul {
  z-index: 1;
  padding: 0;
}

.hero-parallax-wrapper-slow {
  grid-column: 2;
  grid-row: 2;
}

.hero-parallax-wrapper-fast,
.hero-background {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.hero-background {
  overflow: hidden;
  width: 100%;
  display: grid;
  /* grid-template-rows: 60px auto 2fr; */
  grid-template-columns: 23% 1fr 23%;
  height: 70%;
}

/* .hero-parallax-wrapper-fast div {
  transition: all ease 0.4s;
}
.hero-parallax-wrapper-slow div {
  transition: all ease 0.2s;
} */

.page-title {
  text-align: center;
  margin: 10vh auto 0;
}

.section-title {
  text-align: center;
  /* margin-top: 10vh; */
  color: rgb(165, 165, 165);
}

.explore-div {
  grid-row: 3;
  grid-column: 2;
  margin: auto;
  margin-left: 10vw;

  z-index: 1;
}

.explore-div img:hover {
  transform: translateY(20px);
}

.explore-div img {
  width: 1vw;
  height: 2vh;
  margin: auto;
  display: block;
  transition: all ease 0.3s;
}

.explore-div h6 {
  font-weight: 600;
  color: #940000;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 50%;
  max-width: 600px;
  margin: 60px auto;
}

.nav-tabs li {
  color: rgb(110, 0, 0);
  transition: all ease 0.3s;
}

.nav-tabs li:hover {
  transform: scale(1.1);
}

.destination-info {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.resort-result {
  padding: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  /* border-radius: 5px; */
  background-size: cover;
}

.resort-li {
  margin: 20px;
  padding: 20px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  transition: all ease 0.3s;
}

.resort-li h5 {
  color: #202020;
  font-weight: 600;
}

.resort-li:hover {
  transform: scale(1.1);
}

.fav-btn {
  background-color: red;
  padding: 0;
  width: 15px;
  height: 15px;
  visibility: hidden;
}

.resorts-results {
  padding: 0;
  display: flex;
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
}

.notification-container {
  top: 80px;
}

.notification-success {
  background-color: white;
  color: #202020;
  margin: 20px;
}

.notification-success::before {
  content: "";
}

.notification-error {
  background-color: white;
  color: #202020;
  margin: 20px;
  border: #bd0909 solid 2px;
}

.notification-error::before {
  content: "";
}

.reviews-bar {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin: auto;
}

.reviews-bar h3 {
  margin: 10px 20px;
}

.reviews-wrapper {
  width: 60vw;
  display: flex;
  margin: 40px auto;
  /* padding: 20px; */
}

.reviews-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.review-result {
  width: 100%;
  height: 100%;
  min-height: 200px;
  box-shadow: 0px 0px 14px 0px rgba(41, 41, 41, 0.1);
  border-radius: 5px;
  word-wrap: break-word;
  flex-grow: 2;
  padding: 20px;
  background-color: white;
}

.edit-review {
  width: 40%;
  height: fit-content;
  position: absolute;
  box-shadow: 0px 0px 14px 0px rgba(41, 41, 41, 0.1);
  border-radius: 5px;
  word-wrap: break-word;
  z-index: 12;
  padding: 20px;
  background-color: white;
  /* justify-self: center; */
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.review-result-li {
  flex-grow: 1;
  width: 300px;
  margin: 20px;
}

/* @media only screen and (min-width: 1280px) {
  .destination-bio p {
    font-size: 0.7vw;
  }
} */

@media only screen and (max-width: 1536px) {
  .map-buttons {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 6;
  }
  .map-btn-wrapper {
    position: relative;
    height: 100%;
    min-width: 700px;
  }
  .destination-bio a {
    margin: 0 auto;
    grid-column: 1;
    display: -webkit-box;
    width: 60%;
  }
  .destination-bio p {
    margin: 20px auto;
    grid-column: 1;
    display: block;
    height: fit-content;
    width: 60%;
  }
  .map-title {
    margin: auto;
    grid-column: 1;
  }
  .destination-bio {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 15% 10% 1fr;
  }
  .island-description {
    grid-column: 1;
  }
  .map-point {
    margin-top: -8px;
  }
  .map-img {
    width: 80vw;
    margin: auto;
  }
}

@media only screen and (max-width: 896px) {
  .map-btn-wrapper {
    min-width: unset;
    width: 100%;
  }
  #hakuba_valley {
    top: 24vmin;
    left: 4vmin;
    margin: auto;
    right: 0;
    bottom: 0;
  }
  #shiga_kogen {
    top: 15vmin;
    left: 15vw;
    margin: auto;
    right: 0;
    bottom: 0;
  }
  #rusutsu {
    top: 0;
    left: 32vw;
    margin: auto;
    right: 0;
    bottom: 45vmin;
  }
  #niseko {
    top: 0;
    left: 39vw;
    margin: auto;
    right: 0;
    bottom: 47vmin;
  }
}
