@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Mulish:wght@200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

section {
  height: 100vh;
  min-height: 40vw;
}

.tsparticles-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.grid-container {
  margin: auto;
  margin-top: 10vh;
  max-width: 80vw;
}

.gallery-modal-photo {
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.gallery-modal {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.877);
}

.modal_arrow {
  margin: auto 60px;
  display: block;
  width: 30px;
  padding: 3px;
}

.displayed-img {
  margin: auto;
  display: block;
  height: 70vh;
}

.photo-grid {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
  padding: 0 40px 40px 40px;
  /* margin: 0; */
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
}

.photo-grid li {
  width: 300px;
  height: 300px;
  flex-grow: 2;
}

.photo-result {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  background-size: cover;
  cursor: pointer;
}

.weather {
  margin: 60px 0;
}

.weather h4 {
  margin: 50px 0;
}

.weather-icon {
  width: 50px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 50px 0;
  justify-content: space-around;
}

.forecast-list p {
  font-size: 10px;
}

.map-title {
  height: fit-content;
  margin: auto 0 0;
  grid-row: 2;
  font-weight: 600;
  grid-column: 2;
}
.destination-bio {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 30% repeat(1, minmax(700px, 1fr)) 1fr;
  grid-template-rows: 20% 10% 25% 10% 1fr;
}

.destination-bio p {
  grid-column: 2;
  width: 80%;
  margin: 30px 0 auto;
  grid-row: 3;
  font-size: 0.8vw;
}

.destination-bio a {
  grid-column: 2;
  width: fit-content;
  height: fit-content;
  /* margin: 0 auto; */
  grid-row: 4;
  color: #940000;
}

#rusutsu {
  top: 10ch;
  left: calc(10vw + 100px);
}
#niseko {
  top: 8ch;
  left: calc(10vw + 120px);
}
#shiga_kogen {
  top: 37ch;
  left: calc(10vw + 50px);
}
#hakuba_valley {
  top: 42ch;
}

.island-description {
  grid-row: 6;
  height: 40px;
  margin: auto;
  grid-column: 4;
  width: fit-content;
}

.map-buttons {
  grid-column: 3;
  grid-row: span 5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr 20%;
}

.map-point {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffffff3d;
  border-radius: 50px;
  border: #ececec solid 2px;
  cursor: pointer;
  box-shadow: 3px 4px 7px 0px rgba (0, 0, 0, 0.096);
  padding: 0;
  left: calc(10vw);
  top: 45ch;
  transition: all ease 0.3s; /* background: transparent; */
  margin: 10px;
}

.map-point::before {
  display: block;
  /* position: absolute; */
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  margin: auto;
  box-shadow: 3px 4px 7px 0px rgba (0, 0, 0, 0.096);
}

.map-point:hover {
  transform: scale(1.1);
}

.map-point:focus {
  border-color: #ffffff;
  background-color: rgba(214, 214, 214, 0.603);
  box-shadow: none;
}

.map-btn-wrapper {
  grid-row: 2;
  grid-column: 1;
  display: block;
  margin: auto;
  width: 20vw;
  height: 90%;
  /* max-width: 60ch; */
  min-width: 30ch;
}

.map-btn-container {
  position: absolute;
}

.map-img {
  grid-row: 2;
  display: block;
  /* margin: auto; */
  grid-column: 1;
}

.map-img img {
  margin: auto;
  display: block;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  display: flex;
  /* background-color: rgb(37, 37, 37); */
  top: 0;
  z-index: 10;
}

nav ul {
  line-height: 60px;
}

#logo {
  margin: auto;
  margin-left: 5vw;
  width: 160px;
  transition: all ease 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

#logo a {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 45vw;
}

.nav-links li {
  color: rgb(34, 34, 34);
  transition: all ease 0.3s;
  font-weight: 400;
}

.nav-links li:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

.form {
  margin: 20vh auto;
  width: 40vw;
  max-width: 500px;
}

form button {
  width: 100%;
}

.homePage-hero {
  background-color: rgb(241, 241, 241);
  background-image: url("./images/hero_test_back.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 2fr;
  grid-template-columns: 23% 1fr 23%;
}

.hero-overlay {
  background-image: url("./images/hero_test_front_4.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-position: center;
  grid-column: span 3;
}

.homePage-hero-title {
  margin: 0;
  color: black;
  margin-top: 9vh;
  grid-row: 2;
  grid-column: 2;
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.34);
  display: inline-block;
}

.homePage-hero-subtitle {
  margin: 0 0 0 20%;
  color: #940000;
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.192);
  display: inline-block;
}

.homePage-map {
  height: 100vh;
  width: 100%;
  /* display: grid;
  grid-template-rows: 200px 1fr; */
  background-image: url("./images/japan_background.svg");
  background-color: #fffffd;
  background-position: top;
  background-repeat: no-repeat;
}
.homePage-map ul {
  z-index: 1;
  padding: 0;
}

.page-title {
  text-align: center;
  margin: 10vh auto 5vh;
}

.section-title {
  text-align: center;
  margin-top: 10vh;
  color: rgb(165, 165, 165);
}
.nav-tabs {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 50%;
  max-width: 600px;
  margin: 30px auto;
}

.nav-tabs li {
  color: rgb(110, 0, 0);
  transition: all ease 0.3s;
}

.nav-tabs li:hover {
  transform: scale(1.1);
}

.destination-info {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.resort-result {
  /* padding: 10px; */
  width: 200px;
  height: 200px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  margin: 20px;
}

.fav-btn {
  background-color: red;
  padding: 0;
  width: 15px;
  height: 15px;
  visibility: hidden;
}

.resorts-results {
  padding: 0;
  display: flex;
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
}

.notification-container {
  top: 80px;
}

.notification-success {
  background-color: white;
  color: black;
  margin: 20px;
}

.notification-success::before {
  content: "";
}

.notification-error {
  background-color: white;
  color: black;
  margin: 20px;
  border: #bd0909 solid 2px;
}

.notification-error::before {
  content: "";
}

@media only screen and (min-width: 1280px) {
  .destination-bio p {
    font-size: 0.7vw;
  }
}
