@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Mulish:wght@200;300;400;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

section {
  height: 100vh;
  min-height: 40vw;
}

.tsparticles-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.grid-container {
  margin: auto;
  margin-top: 10vh;
  max-width: 80vw;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0;
  margin: 0;
}

.photo-grid li {
  width: 100%;
  height: 100%;
}

.photo-result {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  background-size: cover;
  cursor: pointer;
}

.weather {
  margin: 60px 0;
}

.weather h4 {
  margin: 60px 0;
}

.weather-icon {
  width: 50px;
}

.forecast-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 60px 0;
  justify-content: space-around;
}

.forecast-list p {
  font-size: 10px;
}

.displayed-img {
  margin: auto;
}

.map-title {
  height: fit-content;

  margin: auto;

  grid-row: 2;
}
.destination-bio {
  margin: auto;
}

.destination-bio p {
  grid-column: 1;

  width: 50%;

  margin: auto;

  grid-row: 3;
}

.destination-bio a {
  grid-column: 1;

  width: 50%;

  height: fit-content;

  margin: auto;

  grid-row: 4;
}

.island-description {
  grid-row: 6;

  height: fit-content;

  margin: auto;

  margin-bottom: 20px;

  margin-right: 20px;

  grid-column: 2;
}

.map-buttons {
  grid-column: 2;

  grid-row: span 5;

  height: fit-content;

  width: fit-content;

  margin: auto;
}

nav {
  position: fixed;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  display: flex;
  /* background-color: rgb(37, 37, 37); */
  top: 0;
  z-index: 10;
}

nav ul {
  line-height: 60px;
}

#logo {
  margin: auto;
  margin-left: 5vw;
  width: 160px;
  transition: all ease 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

#logo a {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 45vw;
}

.nav-links li {
  color: rgb(34, 34, 34);
  transition: all ease 0.3s;
}

.nav-links li:hover {
  transform: scale(1.1);
}

ul {
  list-style: none;
}

.form {
  margin: auto;
  width: 40vw;
  max-width: 600px;
}

.homePage-hero {
  background-color: rgb(241, 241, 241);
  background-image: url("./images/hero_test_back.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 2fr;
  grid-template-columns: 23% 1fr 23%;
}

.hero-overlay {
  background-image: url("./images/hero_test_front_4.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 3;
  background-position: center;
  grid-column: span 3;
}

.homePage-hero-title {
  margin: 0;
  color: black;
  margin-top: 9vh;
  grid-row: 2;
  grid-column: 2;
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.34);
  display: inline-block;
}

.homePage-hero-subtitle {
  margin: 0 0 0 20%;
  color: #940000;
  grid-row: 3;
  grid-column: 2;
  font-size: 1.5vw;
  font-weight: 600;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.192);
  display: inline-block;
}

.homePage-map {
  height: 100vh;
  width: 100%;
  /* display: grid;
  grid-template-rows: 200px 1fr; */
}
.homePage-map ul {
  z-index: 1;
  padding: 0;
}

.page-title {
  text-align: center;
  margin-top: 20vh;
}

.section-title {
  text-align: center;
  margin-top: 10vh;
  color: rgb(165, 165, 165);
}
.nav-tabs {
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 50%;
  max-width: 600px;
  margin: 30px auto;
}

.nav-tabs li {
  color: rgb(110, 0, 0);
  transition: all ease 0.3s;
}

.nav-tabs li:hover {
  transform: scale(1.1);
}

.destination-info {
  width: 70%;
  max-width: 800px;
  margin: auto;
}

.destination-bio {
  height: 100vh;

  display: grid;

  grid-template-columns: 1fr 1fr;

  grid-template-rows: 20% 10% 30% 10% 1fr;
}

.resort-result {
  /* padding: 10px; */
  width: 200px;
  height: 200px;
  box-shadow: 3px 4px 5px -1px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
}

.fav-btn {
  background-color: red;
  padding: 0;
  width: 15px;
  height: 15px;
  visibility: hidden;
}
